* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: #344955;
  --secondary-color: #f9aa33;
  --tertiary-color: #232f34;
  --complementary-color: #4a6572;

  --black-light: #1c1b1b;
  --black-dark: #0a0909;

  --gray-100: #444444;
}

.container {
  width: 100%;
  height: 100vh;
}

.content {
  max-width: 1366px;
  height: 96px;
  margin: 0 auto;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.header-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--tertiary-color);
}

.header-logo-destac {
  color: var(--secondary-color);
}

.header-menu {
  display: flex;
}

.header-menu li {
  list-style: none;
  margin-right: 24px;
}

.header-menu li:last-child {
  margin-right: 0;
}

.header-menu li a {
  text-decoration: none;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: var(--black-light);
  transition: 0.5s ease;
}

.header-menu li a:hover {
  color: var(--secondary-color);
}

.header-content-wrapper {
  display: flex;
  align-items: center;
}

.btn-primary {
  width: 156px;
  height: 56px;
  border-radius: 15px;
  background-color: var(--secondary-color);
  border: none;
  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--tertiary-color);
  transition: 0.5s ease;
  margin-right: 47px;
}

.btn-primary:hover {
  filter: brightness(0.9);
}

.hero {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.hero-headline {
  width: 45%;
}

.hero-headline h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: var(--black-dark);
}

.hero-headline p {
  margin-top: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: var(--gray-100);
}

.hero-headline p img {
  margin-right: 8px;
}

.hero-image {
  width: 45%;
}

.hero-image img {
  width: 100%;
}

.hero-headline button {
  border: none;
  cursor: pointer;
  border-radius: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;

  margin-top: 63px;
}

.buttons-wrapper {
  display: flex;
}

.btn-primary-hero {
  width: 164px;
  height: 56px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  margin-right: 32px;
  transition: 0.5s ease;
}

.btn-primary-hero:hover {
  filter: brightness(0.8);
}

.btn-secondary-hero {
  background: transparent;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
}

.btn-secondary-hero::after {
  content: url(/assets/images/arrow-up-right.svg);
  width: 24px;
  height: 24px;
}

.hero-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-email a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--complementary-color);
  writing-mode: vertical-lr;
  margin-top: 136px;
  position: relative;
}

.hero-email a:after {
  content: url(/assets/images/line-email.svg);
  display: block;
  position: absolute;
  left: 15%;
  bottom: -91%;
}

.arrow{
  display: flex;
  justify-content: center;
}

.arrow img{
  animation: animated-arrow 1s ease infinite alternate;
}

@keyframes animated-arrow{
  to{
    transform: translateY(-5px)
  }
}


